body {
    font-family: Arial, sans-serif;
    /* Fonte padrão */
    background-color: #f4f4f4;
    /* Cor de fundo clara */
    line-height: 1.7;
    /* Aumenta o espaçamento entre linhas */
    color: black;
    /* Cor do texto */
    margin: 0;
    /* Remove margens padrão */
    padding: 0;
    /* Remove preenchimento padrão */

}

header {
    background-color: blue;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
    color: white;
}

main {
    background-color: white;
    padding: 0;
    margin: 0 auto;
    width: 620px;
    border-radius: 10px;

}

main section table {
    width: 100%;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

section {
    margin: auto;
    max-width: 600px;

    padding: 20px;
    border-radius: 10px
}

section table {}

main section table thead {
    vertical-align: middle;
    background-color: #012677;
    color: #f0f0f0;
}

main section table tbody {
    unicode-bidi: isolate;
    border-color: inherit;
    display: table-row-group;
    vertical-align: middle;
    
}

main section table main section table {
    align-items: center;
}
main section table tbody tr:hover{
    background-color: aquamarine;
}